body{
	text-transform: capitalize;
	background-color: #efefef;
	
}
.update{
	margin-top: 50px;
	margin-bottom: 20px;
}
.update .upp-pro{
	background-color:#fff;
	height: 600px;
	padding: 30px 30px;
	
}

button{
	background-color: #66ca6573;
	margin-top: 20px;
	border-radius: 5px;
	padding: 5px  14px 6px 14px;
	border: none;
	color: #fff;
}
